[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flask-testing = "*"
nose = "*"

[packages]
flask = "*"
flask-restplus = "*"
psycopg2-binary = "*"
gunicorn = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-script = "*"
flask-oauthlib = "*"
requests-oauthlib = "<1.2.0"

[requires]
python_version = "3.7"
